.btn-default{
    background-color: $lime900;
    color: $text;
    padding: 10px 5px;
    border-radius: 10px;
    font-family: RobotoSlab;
    cursor: pointer;
    border: none;
    margin: 2px;
    width: 50%;
    font-size: medium;
}