$background: #121212;
$lime: #cddc39;
$lime50: #f9fbe7;
$lime100: #f0f4c3;
$lime200: #e6ee9c;
$lime300: #dce775;
$lime400: #d4e157;
$lime500: #cddc39;
$lime600: #c0ca33;
$lime700: #afb42b;
$lime800: #9e9d24;
$lime900: #827717;
$warning: #FFA000;
$remove: #c62828;
$grey: #BDBDBD;
$help: #673ab7;
$text: #ffffff;
