html,
body {
  padding: 0;
  margin: 0;
  font-family: RobotoSlab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $background;
  color: $text;
  overflow: hidden;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/static/background-mesh.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

button{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: RobotoSlab;
  src: url(../public/RobotoSlab-VariableFont_wght.ttf);
}