.btn-edges-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.letter-scheme-container {
  width: 85%;
  background-color: $lime900;
  padding: 5px 15px;
  border-radius: 15px;
  z-index: 10;

  .wrapper-text-letterScheme{
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-edit{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      text-align: center;
    }
  }

  h6 {
    padding-top: 5px;
    margin: 0 20px;
  }

  input {
    width: 95%;
    padding: 10px 5px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    text-align: center;
    background-color: $lime800;
    color: $text;
    font-size: 14px;
  }

  .input-edit{
    background-color: #ffbfaa;
    color:black;
  }
}
